@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 40px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

.grid-template-1 {
  width: ;
}
.rainbow {
  width: 315px;
  height: 475px;
  background-color: yellow;
}
